* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: auto;
    background: wheat;
}

.containerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    border: 1px solid black;
    background: white;
    width: 200px;
    height: 200px;
}

.box-hover {
    background: black;
}
